# Homework

1. เป่ายิ้งฉุบ Python
2. Class ATM
3. Class restaurant (Optional)

## 1. Homework : เป่ายิ้งฉุบ Python

In [ ]:
import random
choice = ["Hammer" , "Paper" , "Scissor" ]

def game():
    
    computer = random.choice(choice)
    while True:
        user = input("Choose your action Hammer Paper Scissor or quit game : ")
        if(user == "quit"):
            print("Bye bye")
            break
        print(f"You played {user} and Computer played {computer}")
        if user == computer:
            return 'It`s a tie!'
        elif (user == 'Hammer' and computer == 'Scissor') or (user == 'Scissor' and computer == 'Paper') or (user == 'Paper' and computer == 'Hammer'):
            return 'You win'
        else : 
            return 'You lose'

In [ ]:
game()

## 2. ATM Machine with Class OOP (Object Oriented Programming)
- บัญชีผู้ใช้
- รับเงินฝาก
- ถอนเงินฝาก
- เช็คยอด
- โอนเงิน

In [ ]:
class ATM():
    def __init__ (self, name, age, account, balance):
        self.name = name
        self.age = age
        self.account = account
        self.balance = balance

 # methods    
    def account_detail(self):
        print(f"Account Name : {self.name.upper()}")
        print(f"Account Age : {self.age}")
        print(f"Account Nummer : {self.account}")
        print(f"Available Balance: {self.balance}")
    
    def deposit(self, amount):
        self.amount = amount
        self.balance = self.balance + self.amount
        print(f"Account Name : {self.name}")
        print(f"Total Balance : {self.balance}")
    
    def withdraw(self, amount2):
        self.amount2 = amount2
        if self.amount2 > self.balance:
            print("Insufficient Balance")
            print(f"Please try again.")
        else:
            self.balance = self.balance - self.amount2
            print(f"{amount2} withdraw successful!")
            print("Current Account Balance: ", self.balance)

    def statement(self):
        print(f"Account Nummer : {self.name}")
        print(f"Your current Balance is : {self.balance}")
        print()


    def transfer(self, amount3, account):
        self.balance = self.balance - amount3 
        print(f"Tranfer to {account.upper()} Success")
        print(f"Current Account Balance: {self.balance}")

In [ ]:
customer1 = ATM("Mcdonald", 32, 32863, 30000)
customer2 = ATM("Jackey", 27, 27038, 20000)
customer3 = ATM("Pancake", 22, 22274, 12000)

In [ ]:
customer1.account_detail()

Account Name : MCDONALD
Account Age : 32
Account Nummer : 32863
Available Balance: 44500

In [ ]:
customer1.deposit(21000)

Account Name : Mcdonald
Total Balance : 51000

In [ ]:
customer1.statement()

Account Nummer : Mcdonald
Your current Balance is : 51000

In [ ]:
customer1.withdraw(6000)

6000 withdraw successful!
Current Account Balance:  45000

In [ ]:
customer1.withdraw(60000)  ## case withdraw over balance

Insufficient Balance
Please try again.

In [ ]:
customer1.transfer(500,"22274")

Tranfer to 22274 Success
Current Account Balance: 44500

# New Section