*italicized text*# **Python End to End ( Batch 5)**

Contents :

- Variable
- Data Type
- String
- Data Structure
- Function
- Control Flow
- OOP( Object Oriented Programming )

## **Basic computation**

In [ ]:
print(1 + 1)
print(2 * 2)
print(5 / 2)
print(5 // 2) # floor division
print(6 + 4)
print(5 % 2) # modulo

2
4
2.5
2
10
1

## **Variable**

In [ ]:

income = 50000
expense = 28000
saving = income - expense
print(saving)

22000

In [ ]:
del saving

In [ ]:
# string variable
my_name = "nueng" #'nueng'
my_age = 31
print("Hello! my name is "+ my_name + " and I'm " + str(my_age) + " years old.")

Hello! my name is nueng and I'm 31 years old.

In [ ]:
# f-string
text = f"Hello! my name is {my_name} and I'm {my_age} years old."
print(text)

Hello! my name is nueng and I'm 31 years old.

In [ ]:
# type hinting คำใบ้ฃ
# int float str bool
name: str = "nueng"
age: int = 31
gpa: float = 2.89
movie_lover: bool = True

print(type(name))
print(type(age))
isinstance(gpa,float)

<class 'str'>
<class 'int'>

True

## **Fuction**

In [ ]:
 def greeting():
     print("hello world")

In [ ]:
greeting()

hello world

In [ ]:
# default argument
def greeting_name(name, city="London"):
    print(f"Hello! {name}. We live in {city}.")

In [ ]:
greeting_name("John")
greeting_name("John",city ="Manchester")

Hello! John. We live in London.
Hello! John. We live in Manchester.

In [ ]:
#get input form user
#input () get string input
name = input ("What's your name? ")
print(f"greeting {name}!")

What's your name? Anna
greeting Anna!

In [ ]:
def greeting_name2():
    name = input ("What's your name? ")
    print(f"Greeting {name}!")

In [ ]:
greeting_name2()

What's your name? Anna
Greeting Anna!

In [ ]:
# lambda function
def add_two_nums(a, b):
    return a+b

result = add_two_nums(10,2020)
print(result)

2030

In [ ]:
add_two_nums = lambda a,b: a+b
add_two_nums(10, 15)

25

In [ ]:
greeting = lambda name: f"Hello ! {name}"
result = greeting("nueng")
print(result)

Hello ! nueng

## **String**

In [ ]:

long_text = """hello world
I'm learning python
It's as easy as R!
Cool!"""

print(long_text)

hello world
I'm learning python
It's as easy as R!
Cool!

In [ ]:
def greeting():
    """Greeting a user
    input: user_name
    output: xxx
    """
    print("Hello!")

In [ ]:
text ="a duck walks into a bar ...."
len("python")

6

In [ ]:
# function vs. method
print(len(text))
print(text)

28
a duck walks into a bar ....

In [ ]:
#  method = function designed for specific class ​method เป็น function ที่ใช้กับ specific class
text ="a duck walks into a bar ...."

In [ ]:
# strinf methods
text.upper()
text.lower()
text = text.replace("duck","lion")
print(text)

a lion walks into a bar ....

In [ ]:
# strip
"     hello world    ".strip(" ")
text = text.strip(".")
print(text)

a lion walks into a bar

In [ ]:
# count a
text.count("a")

4

In [ ]:
# split text
split_text = text.split(" ")
print(split_text)

['a', 'lion', 'walks', 'into', 'a', 'bar', '']

In [ ]:
"++".join(split_text)

'a++lion++walks++into++a++bar++'

In [ ]:
# subset/indexing
# python index starts with 0

language = "Python"
len(language)
print(language[1])
print(language[5])
print(language[-1]) # the last character

y
n
n

In [ ]:
language[0:2 ] #up to not include
language[1: 4]

In [ ]:
language2 = "C" + language[1:]
print(language2)

Cython

## Data Scrtuctures
- list
- tulple 
- dictionary
- set

list กับ tuple ไว้เก็บข้อมูลเป็น order แต่ต่างกันที่list- mutable ส่วน tuple-immutable ส่วน dictionary จะเป็นkey-value pair

In [ ]:
# Create a new list
shopping_list = ["egg", "mile", "bread", "tomato"]
type(shopping_list)
shopping_list

In [ ]:
print(shopping_list[0])
print(shopping_list[1])
print(shopping_list[2])
print(shopping_list[3])
print(shopping_list[-1])

egg
mile
bread
tomato
tomato

In [ ]:
# mutable vs. immutable object
print(shopping_list)

shopping_list[0] = "chicken 1kg"
print(shopping_list)

['chicken 1kg', 'mile', 'bread', 'tomato']
['chicken 1kg', 'mile', 'bread', 'tomato']

In [ ]:
## mutable => list, dictionary
## immutable => turple, str

In [ ]:
shopping_list = ["egg", "milk", "bread", "tomato"]

In [ ]:
# list method (fuction designed for list)

shopping_list.append("french fried")
print(shopping_list)

['egg', 'mile', 'bread', 'tomato', 'french fried', 'pizza', 'french fried']

In [ ]:
shopping_list.pop()
print(shopping_list)

['egg', 'mile', 'bread', 'tomato']

In [ ]:
shopping_list.append("egg")
print(shopping_list)

['egg', 'mile', 'bread', 'tomato', 'egg', 'egg']

In [ ]:
shopping_list.count("egg")

3

In [ ]:
shopping_list.sort(reverse=True)

In [ ]:
shopping_list

['tomato', 'mile', 'egg', 'bread']

In [ ]:
shopping_list.remove("mike")
shopping_list

In [ ]:
shopping_list.insert(1,"milk")
shopping_list

['tomato', 'milk', 'milk', 'egg', 'bread']

## Control Flow
- for
- while
- ifelse

In [ ]:
shopping_list = [
    ("egg", 10),
    ("milk", 5),
    ("bread", 20),
    ("tomato",12)
]
print(shopping_list)

[('egg', 10), ('milk', 5), ('bread', 20), ('tomato', 12)]

In [ ]:
for item in shopping_list:
    print(f"Product:  {item[0]}  Unit: {item[1]}")

Product:  egg  Unit: 10
Product:  milk  Unit: 5
Product:  bread  Unit: 20
Product:  tomato  Unit: 12

In [ ]:
#  bonus list comprehension

In [ ]:
numbers = [1,2,3,4,5]

In [ ]:
new_numbers = []
for num in numbers:
    new_numbers.append(num*2)

print(new_numbers)

[2, 4, 6, 8, 10]

In [ ]:
# list comprehension
numbers = [1,2,3,4,5]
new_numbers = [num*2 for num in numbers]

print(new_numbers)

[2, 4, 6, 8, 10]

In [ ]:
students = [
    (1, "toy", "bangkok"),
    (2, "david", "london"),
    (3, "anna","madrid")
]

for student in students:
    print(f"ID:0 {student[0]} Name: {student[1]} City: {student[2].upper()}")

ID:0 1 Name: toy City: BANGKOK
ID:0 2 Name: david City: LONDON
ID:0 3 Name: anna City: MADRID

In [ ]:
# example of set
food_set ={"pizza", "chicken", "Coke", "coke", "pizza"}
type(food_set)

set

In [ ]:
food_set

{'Coke', 'chicken', 'coke', 'pizza'}

In [ ]:
food_list = ["pizza", "chicken", "coke", "coke", "pizza"]
set(food_list)
len(set(food_list))

3

In [ ]:
# dictionary
# key-value pair

In [ ]:
customer = {
    "name": "toy",
    "age" : 32,
    "location":"bangkok",
    "movie_lover" : True,
    "movie_fav" : ["Thor","Superman","Batman"],
    "shopping_list" : ("egg",10),
    "books" : {"name":"Think Like a Freak","year":2006}
}

In [ ]:
customer["location"]

'bangkok'

In [ ]:
# for loop in dictionary
for key, value in customer.items():
    print(f"{key}: {value}" )

name: toy
age: 32
location: bangkok
movie_lover: True
movie_fav: ['Thor', 'Superman', 'Batman']
shopping_list: ('egg', 10)
books: {'name': 'Think Like a Freak', 'year': 2006}

## Control Flow (Continue)
- for
- while
- ifelse

In [ ]:
count = 0 
while count <10: 
    print ("hello!")
    # count = count + 1

hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!

In [ ]:
# Game : guess animal name
def guess_animal_name():
    correct_name = "hippo"
    while True:
        user_guess = input("Guess the animal name: ")
        if user_guess == correct_name:
            print("congratulations!!")
            break
        else:
            print("Please try again :) ")

In [ ]:
guess_animal_name()

Guess the animal name: lion
Please try again :)
Guess the animal name: duck
Please try again :)
Guess the animal name: ant
Please try again :)
Guess the animal name: hippo
congratulations!!

In [ ]:
#if - else
def grading(score):
    if score >= 80:
        return "A"
    elif score >= 70:
        return "B"
    elif score >= 60:
        return "C"
    elif score >= 50:
        return "D"
    else:
        return "Failed"

In [ ]:
grading(99)

'A'

In [ ]:
scores = [90, 85, 72, 82, 65]

In [ ]:
grades = []
for score in scores:
    result = grading(score)
    grades.append((result,score))

print(grades)

[('A', 90), ('A', 85), ('B', 72), ('A', 82), ('C', 65)]

In [ ]:
scores = [90, 85, 72, 82, 65]

In [ ]:
map(grading, scores)
list(map(grading, scores))

new_grade = list(map(grading, scores))
print(new_grade)

['A', 'A', 'B', 'A', 'C']

In [ ]:
# if else - and , or , not

day = "Monday"
time = "2pm"

if day == "Monday" and time == "2pm" :
    print("Coffee")
else:
    print("หิวมาก กินอะไรก็ได้")

Coffee

## **OOP**
Object Oriented Programming

`class` to create new Class

`OOP opject oriented Programming `- การเขียนโปรแกรมเชิงวัตถุ โดยให้มองโค้ดเป็น object ง่ายๆคือเป็นสิ่งที่เราหยิบมาเพื่อช่วยให้โค้ดของเราง่ายขึ้นโดยต้องมีคุณสมบัติ และพฤติกรรม 
มี4องค์ประกอบ

1`encapsulation` ห่อวัตถุที่มีสถานะprivateในclass ทำให้ซ่อนการมองเห็น/การเข้าถึงจากpublicได้ เอาง่ายๆคือเราแค่เรียกคำสั่งที่เปิดให้ โดยที่ภายในนั้นจะจัดการเองคนนอกไม่ต้องรู้(ถ้าไม่มีการห่อแต่ละobjectเข้าถึงและเปลี่ยนแปลงคุณสมบัติของobjectอื่นได้อาจจะเกิดerrorได้)

2 `abstraction` รู้แค่ที่จำเป็นเช่นตอนเราใช้fb ytเราก็เห็นแค่หน้าui interfaceของมันไม่ทราบถึงการทำงานเบื้องหลัง

3 `inheritance` เอาคุณสมบัติclass นึงไปสร้างอีกclassสามารถนำอีกclassไปพัฒนาต่อได้ (reuse codeที่เป็นclass)

4 `polymorphism` กำหนดชื่อพฤติกรรม ให้classที่มาสืบทอดเอาไปสร้างการทำงานเอง

In [ ]:
class Dog:
    # consructor ==> initializtion
    def __init__(self, name, age, species, energy):
         self.name = name
         self.age = age
         self.species = species
         self.energy = energy
    
    def __str__(self):
        return "I'm a dog :D"

    # methods
    def greeting(self):
        print(f"Hi my name is {self.name}! and I'm {self.species}")

    def eating(self, food):
        print(f"I'm eating {food} and it's delicious")

    def play(self, activity):
        if activity =="sleeping":
            self.energy += 10
        elif activity == "running":
            self.energy -= 20
        else:
            self.energy -= 5
        print(f"Energy level: {self.energy}")

In [ ]:
# Create instances
dog1 = Dog("Jojo", 3, "Golden",100)
dog2 = Dog("Happy", 2, "French Bulldog",200)

dog1.greeting()
dog1.eating("hotdog")

Hi my name is Jojo! and I'm Golden
I'm eating hotdog and it's delicious

In [ ]:
dog1.play("running")

Energy level: 55

In [ ]:
print(dog1)

I'm a dog :D

## Homework 

Url : [Click](https://colab.research.google.com/drive/1Gsb1pE0FXgoevRxLI_qKag9lxx_8gdzV#scrollTo=EJxbSenF3Db2&uniqifier=1)

1. เป่ายิ้งฉุบ Python
2. Class ATM

5 ATM method
- รับเงินฝาก
- ถอนเงินฝาก
- เช็คยอด
- method 4
- method 5

Optional - Class restaurant

In [ ]:
def grading(score):
    if score >= 80:
        return "A"
    elif score >= 71:
        return "B"
    elif score >= 61:
        return "C"
    elif score >= 41:
        return "D"
    else:
        return "F"


grading(40)

'F'

In [ ]:
import re
text ="HelLo WoRLd"
len(re.findall(r'[A-Z]',text))

5

In [ ]:
def printdouble(arr):
    for x in arr:
        print(x*2)
printdouble([1,10,3,7,15])

2
20
6
14
30

In [ ]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

if day == "Monday":
    print("Hello Monday")
else:
    print("weekdays")

Hello Monday

In [ ]:
for x in range (1,101): #print 0-100
    if x % 3 == 0 and x % 5 == 0:
        print("FizzBuzz") #หาร 3,5 ลงตัว
    elif (x % 3) == 0:
        print("Fizz")   #หาร 3 ลงตัว
    elif x % 5 == 0:
        print("Buzz")  #หาร 5 ลงตัว
    else:
        print(x)